@import "base/variables";
@import "components/footer";
@import "components/header";
@import "pages/mainContacto";
@import "pages/mainNosotros";
@import "pages/mainMenu";
@import "pages/mainNovedades";
@import "pages/mainIndex";
@import "base/mediaQueries";