<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
	<!-- animaciones -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- icons -->
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/estilo.css">
	<!-- DESCRIPCION Y KEYWORDS -->
	<meta name="description" content="Parrilla Argentina que cualquier amante de la carne querría visitar, garantía de calidad en todas sus preparaciones.">
	<meta name="keywords" content="Argentino, parrilla, Argentina, carnes, restaurante, comida, cocina, parrileros, historia, platos, pastas, postres, menu, variedades">
</head>
<body class="menu" data-aos="fade-down">
	<!-- HEADER -->
		<header class="container-fluid sticky-top">
		<div class="row header sticky-top">
			<div class="tituloDePagina col-lg-6 col-10 d-flex flex-row">
				<a href="../index.html">
					<img src="../assets/img/logo.jpg" alt="Logo" class="header__logo header__logo--modificaciones">
				</a>
				<a href="../index.html" class="text-decoration-none text-reset text-monospace h-25">
					<h1 class="header__tittle">El Argentino</h1>
				</a>
				</div>
			<div class="col-lg-6 col-2 header__nav d-flex justify-content-end">
				<nav class="navbar navbar-expand-lg navbar-light position-absolute rounded">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="nosotros.html">Nosotros</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
				          Menu
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="menu.html#guarniciones">Guarniciones</a>
				          <a class="dropdown-item" href="menu.html#pastas">Pastas</a>
				          <a class="dropdown-item" href="menu.html#carnes">Carnes</a>
				          <a class="dropdown-item" href="menu.html#postres">Postres</a>
				          <a class="dropdown-item" href="menu.html#bebidasYTragos">Bebidas y tragos</a>
				        </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="novedades.html">Novedades</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="contacto.html">Contacto</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</header>
	<!-- CIERRE HEADER -->
	<!-- MainMenu -->
	<main class="container-fluid mainMenu">
		 	<div class="row col-lg-12 col-12 d-flex justify-content-center">
				<h2 class="menu__tittle">Menu: El Argentino</h2>
			</div>

			<!-- SECCION DE GUARNICIONES -->
	 		<section class="d-flex justify-content-center">
	 			<div id="guarniciones" class="rounded" data-aos="fade-up" data-aos-duration="1500">
	 				<div class="row col-lg-12 col-12">
					 		<h2 class="guarniciones__tittle">Guarniciones</h2>
						 	<h3 class="guarniciones__subtittle">Variedades:</h3>
					 </div>
					 <div class="row col-lg-12 col-12">
					 	<div class="col-lg-6 col-12 d-flex justify-content-center guarniciones__variedades1--modificaciones">
						 	<ul class="guarniciones__variedades1">
						 		<li class="guarniciones__item">Papas (fritas, españolas, noisette)</li>
						 		<li class="guarniciones__item">Pure (de papa, calabaza, zapallo)</li>
						 		<li class="guarniciones__item">Champiñones salteados al ajillo</li>
						 		<li class="guarniciones__item">Cebollas glaseadas</li>
						 	</ul>
					 	</div>
					 	<div class="col-lg-6 col-12 d-flex justify-content-center guarniciones__variedades2--modificaciones">
						 	<ul class="guarniciones__variedades2">
						 		<li class="guarniciones__item">Ensalada de col americana</li>
						 		<li class="guarniciones__item">Mermelada de frutos rojos</li>
						 		<li class="guarniciones__item">Ensalada de quinoa</li>
						 		<li class="guarniciones__item">Zanahorias asadas</li>
						 	</ul>
					 	</div>
					 </div>
					 <div class="guarniciones__img row col-lg-12 col-12">
					 	<div class="col-lg-6 col-6 d-flex justify-content-center">
					 		<img src="../assets/img/mqdefault.jpg" alt="Guaniciones1" class="guarniciones__img--modificaciones rounded">
					 	</div>
					 	<div class="col-lg-6 col-6 d-flex justify-content-center">
					 		<img src="../assets/img/guarnicion2.webp" alt="Guaniciones2" class="guarniciones__img--modificaciones rounded">
					 	</div>
					 </div>
				 </div>
			 </section>

			 <!-- SECCION DE CARNES -->
			 <section class="d-flex justify-content-center">
			 	<div id="carnes" class="rounded" data-aos="fade-up" data-aos-duration="1500">
			 		<div class="row col-lg-12 col-12">
			 			<div>
						 	<h2 class="carnes__tittle">Carnes</h2>
						 </div>
						 <div>
						 	<h3 class="carnes__subtittle">Variedades:</h3>
						 </div>
					 </div>
			 		<div class="row">
						 <div class="carnes__img col-lg-6 col-12">
						 	<div class="d-flex justify-content-center">
						 		<img src="../assets/img/s-de-ternera.jpg" alt="carnes1" class="carnes__img1--modificaciones rounded">
						 	</div>
						 	<div class="d-flex justify-content-center">
						 		<img src="../assets/img/l-de-cerdo.jpg" alt="carnes2" class="carnes__img2--modificaciones rounded">
						 	</div>
						 </div>
						 <div class="col-lg-6 col-12">
						 	<ul class="carnes__variedades">
						 		<li class="carnes__item">Ternera en salsa de almendras</li>
						 		<li class="carnes__item">Solomillo de ternera</li>
						 		<li class="carnes__item">Jamon asado con naranja y romero</li>
						 		<li class="carnes__item">Ternera con verdura y salsa de soja</li>
						 		<li class="carnes__item">Pechuga de pollo con cebolla</li>
						 		<li class="carnes__item">rollito de pechiga con salsa de verduras</li>
						 		<li class="carnes__item">nuggets de pollo</li>
						 		<li class="carnes__item">Lomo de cerdo con salsa de frutas</li>
						 		<li class="carnes__item">Solomillo de cerdo con salsa de cerezas</li>
						 	</ul>
						 </div>
					 </div>
				</div>
			</section>

			<!-- SECCION DE PASTAS -->
			<section class="d-flex justify-content-center">
				<div id="pastas" class="rounded" data-aos="fade-up" data-aos-duration="1500">
					<div class="row col-lg-12 col-12">
						<div>
						 	<h2 class="pastas__tittle">Pastas</h2>
						 </div>
						 <div>
						 	<h3 class="pastas__subtittle">Variedades:</h3>
						 </div>
					 </div>
					<div class="row">
						 <div class="pastas__img col-lg-3 col-6">
						 	<div class="d-flex justify-content-end">
						 		<img src="../assets/img/tallarines-con-pollo-y-aceitunas.jpg" alt="pasta2" class="pastas__img2--modificaciones rounded">
						 	</div>
						 	<div class="d-flex justify-content-end">
						 		<img src="../assets/img/images.jpg" alt="pasta1" class="pastas__img1--modificaciones rounded">
						 	</div>
						 </div>
						 	<div class="col-lg-3 col-6 d-flex justify-content-first">
						 	<img src="../assets/img/tomate-age-m.jpg" alt="pasta3" class="pastas__img3--modificaciones rounded">
						 </div>
						 <div class=" col-lg-6 col-12">
						 	<ul class="pastas__variedades">
							 	<li class="pastas__item">Ravioles</li>
							 	<li class="pastas__item">Sorrentinos</li>
							 	<li class="pastas__item">Tallarines</li>
							 	<li class="pastas__item">Ñoquis</li>
							 	<li class="pastas__item">Capettinis</li>
							 	<li class="pastas__item">Salsas: 4 quesos, marinara, blanca.</li>
						 	</ul>
						 </div>
					</div>
				</div>
			</section>

			<!-- SECCION DE POSTRES -->
			<section class="d-flex justify-content-center">
				<div id="postres" class="rounded" data-aos="fade-up" data-aos-duration="1500">
					<div class="row col-lg-12 col-12">
						<div>	
							<h2 class="postres__tittle">Postres</h2>
						</div>
						<div>
						 	<h3 class="postres__subtittle">Variedades:</h3>
						</div>
					</div>
					  <div class="postres__img row col-lg-12 col-12">
					  	<div class="col-lg-6 col-6 d-flex justify-content-center">
					  		<img src="../assets/img/lemonpie.jpg" alt="postre1" class="postres__img--modificaciones rounded">
					  	</div>
					  	<div class="col-lg-6 col-6 d-flex justify-content-center">
					  		<img src="../assets/img/tiramisu-min.webp" alt="postre2" class="postres__img--modificaciones rounded">
					  	</div>
					  </div>
					  <div class="row col-lg-12 col-12 postres__variedades--position">
					  	<div class="col-lg-6 col-6 d-flex justify-content-center">
						  	<ul class="postres__variedades">
							  	<li class="postres__item">Lemon pie</li>
							  	<li class="postres__item">Tiramisu</li>
							  	<li class="postres__item">Mousse de frutas del bosque</li>
							</ul>
						</div>
						<div class="col-lg-6 col-6 d-flex justify-content-center">
							<ul class="postres__variedades">
							  	<li class="postres__item">Helados (gustos clasicos)</li>
							  	<li class="postres__item">Postre vijilante</li>
							  	<li class="postres__item">Flan con crema o dulce de leche</li>
						  	</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- SECCION DE BEBIDAS Y TRAGOS -->
			<section class="d-flex justify-content-center"> 
				<div id="bebidasYTragos" class="rounded" data-aos="fade-up" data-aos-duration="1500">
					<div class="row col-lg-12 col-12">
					  	<div>
					  		<h2 class="bebidasYTragos__tittle">Bebidas y tragos</h2>
					  	</div>
					  	<div>
					  		<h3 class="bebidasYTragos__subtittle">Variedades:</h3>
					  	</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-6">
							<div class="bebidasYTragos__sinAlcohol d-flex justify-content-center">
							  	<h4>sin alcohol</h4></div>
							<div class="d-flex justify-content-center">
							  	<ul class="sinAlcohol__variedades">
								  	<li class="sinAlcohol__item">Agua o Agua saborisada</li>
								  	<li class="sinAlcohol__item">Gaseosas</li>
								  	<li class="sinAlcohol__item">Jugos exprimidos</li>
								  	<li class="sinAlcohol__item">Limonada</li>
							  	</ul>
							</div>
						</div>
						<div class="col-lg-6 col-6">
							<div class="bebidasYTragos__conAlcohol d-flex justify-content-center">
							  	<h4>Con alcohol</h4>
							</div>
							<div class="bebidasYTragos__img d-flex justify-content-center">
							  	<img src="../assets/img/fernet.jpg" alt="postre2" class="bebidasytragos__img1--modificaciones rounded">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="bebidasytragos__img col-lg-6 col-6 d-flex justify-content-center">
						  	<img src="../assets/img/jugonaranja.webp" alt="postre1" class="bebidasytragos__img2--modificaciones rounded">
						</div>
						<div class="col-lg-6 col-6 d-flex justify-content-center">
						  	<ul class="conAlcohol__variedades">
							  	<li class="conAlcohol__item">Fernet</li>
							  	<li class="conAlcohol__item">Vinos</li>
							  	<li class="conAlcohol__item">Gancia</li>
							  	<li class="conAlcohol__item">Cervezas</li>
							  	<li class="conAlcohol__item">Chanpagne</li>
							  	<li class="conAlcohol__item">Daiquiri</li>
						 	</ul>
						</div>
					</div>
				</div>
			</section> 
	</main>
	<!-- CIERRE MainMenu -->
	<!-- FOOTER -->
	<footer class="container-fluid">
		<div class="row footer">
			<div class="col-lg-6 col-6">
				<h3 class="footer__tittle">Contactanos</h3>
			</div>
			<nav class="footer__nav col-lg-6 col-6 d-flex justify-content-end">
				<a href="https://www.instagram.com/elargentinobar/" target="_blank"><img src="../assets/img/instagram.png" alt="instagram" class="footer__img--modificaciones"></a>
				<a href="https://www.facebook.com/elargentino.parrilla.3" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="footer__img--modificaciones"></a>
				<a href="https://api.whatsapp.com/send?phone=573100000&text%22=%22target=%22_blank%22" target="_blank"><img src="../assets/img/whatsapplogo.webp" alt="whatsapp" class="footer__img--modificaciones"></a>
			</nav>
		</div>
		<div class="row copyright d-flex justify-content-center">
			Copyright &reg; <script type="text/javascript">document.write(new Date().getFullYear());</script> Developed by Francisco Hellbusch - Todos los derechos reservados.
		</div>
	</footer>
	<!-- CIERRE FOOTER -->
	<!-- SCRIPT BOOTSTRAP -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<!-- SCRIPT AOS -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  	AOS.init();
	</script>
</body>
</html>