<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
	<!-- animaciones -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- icons -->
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/estilo.css">
	<!-- DESCRIPCION Y KEYWORDS -->
	<meta name="description" content="Parrilla Argentina que cualquier amante de la carne querría visitar, garantía de calidad en todas sus preparaciones.">
	<meta name="keywords" content="Argentino, parrilla, Argentina, carnes, restaurante, comida, cocina, parrileros, historia">
</head>
<body class="nosotros" data-aos="fade-up">
	<!-- HEADER -->
	<header class="container-fluid sticky-top">
		<div class="row header sticky-top">
			<div class="tituloDePagina col-lg-6 col-10 d-flex flex-row">
				<a href="../index.html">
					<img src="../assets/img/logo.jpg" alt="Logo" class="header__logo header__logo--modificaciones">
				</a>
				<a href="../index.html" class="text-decoration-none text-reset text-monospace h-25">
					<h1 class="header__tittle">El Argentino</h1>
				</a>
			</div>
			<div class="col-lg-6 col-2 header__nav d-flex justify-content-end">
				<nav class="navbar navbar-expand-lg navbar-light position-absolute rounded">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="nosotros.html">Nosotros</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
				          Menu
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="menu.html#guarniciones">Guarniciones</a>
				          <a class="dropdown-item" href="menu.html#pastas">Pastas</a>
				          <a class="dropdown-item" href="menu.html#carnes">Carnes</a>
				          <a class="dropdown-item" href="menu.html#postres">Postres</a>
				          <a class="dropdown-item" href="menu.html#bebidasYTragos">Bebidas y tragos</a>
				        </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="novedades.html">Novedades</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="contacto.html">Contacto</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</header>
	<!-- CIERRE HEADER -->
	<!-- MainNosotros -->
	<main class="container-fluid mainNosotros">
		<!-- SECCION DE COMIENZO -->
		<section class="comienzo">
			<div class="row comienzo__tittle d-flex justify-content-center">
				<h2><strong>Nuestro Comienzo</strong></h2>
			</div>
			<div class="row">
				<div class="comienzo__img d-flex justify-content-center col-lg-6 col-12">
					<img src="../assets/img/fotoantigua.jpg" alt="foto antigua" class="comienzo__img--modificaciones rounded" data-aos="flip-up">
				</div>
				<div class="d-flex justify-content-center text-justify col-lg-6 col-12">
					<p class="comienzo__texto w-75 rounded" data-aos="flip-up">Los Argentinos se han caracterizado por la calidad de sus carnes y la calidad en la preparación de las mismas. La parrilla Argentina por su parte es un plato con reconocimiento internacional, su sabor trasciende las fronteras y se convierte en un icono de la gastronomía.</p>
				</div>
			</div>
		</section>
		<!-- SECCION DE PERSONAL -->
		<section class="personal">
			<div class="row d-flex justify-content-center col-lg-12 col-12">
				<h2 class="personal__tittle">personal</h2>
			</div>
			<div class="row card-deck row-cols-3">
				<div class="d-flex justify-content-center col-lg-3 col-6">
					<div class="personal__cards h-75">
					    <div class="card text-center border-dark">
					      <img src="../assets/img/gerente.jpg" class="card-img-top" alt="gerente">
						  <div class="card-body">
						    <h5 class="card-title">Gerente</h5>
						  </div>
					    </div>
					  </div>
				  </div>
				  <div class="d-flex justify-content-center col-lg-3 col-6">
					  <div class="personal__cards">
					    <div class="card text-center border-dark">
					      <img src="../assets/img/parrillero.jpg" class="card-img-top" alt="parrillero">
						  <div class="card-body">
						    <h5 class="card-title">Parrillero</h5>
						  </div>
					    </div>
				  	</div>
				  </div>
				  <div class="d-flex justify-content-center col-lg-3 col-6">
					  <div class="personal__cards h-75">
					    <div class="card text-center border-dark">
					      <img src="../assets/img/ayudantes.jpg" class="card-img-top" alt="ayudantes">
						  <div class="card-body">
						    <h5 class="card-title">Ayudantes de cocina</h5>
						  </div>
					    </div>
					  </div>
				  </div>
				  <div class="d-flex justify-content-center col-lg-3 col-6">
					  <div class="personal__cards">
					    <div class="card text-center border-dark">
					      <img src="../assets/img/mosos.jpg" class="card-img-top" alt="mosos">
						  <div class="card-body">
						    <h5 class="card-title">Mosos</h5>
						  </div>
					    </div>
				    </div>
				</div>
			</div>
		</section>
	</main>
	<!-- CIERRE MainNosotros -->
	<!-- FOOTER -->
	<footer class="container-fluid">
		<div class="row footer">
			<div class="col-lg-6 col-6">
				<h3 class="footer__tittle">Contactanos</h3>
			</div>
			<nav class="footer__nav col-lg-6 col-6 d-flex justify-content-end">
				<a href="https://www.instagram.com/elargentinobar/" target="_blank"><img src="../assets/img/instagram.png" alt="instagram" class="footer__img--modificaciones"></a>
				<a href="https://www.facebook.com/elargentino.parrilla.3" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="footer__img--modificaciones"></a>
				<a href="https://api.whatsapp.com/send?phone=573100000&text%22=%22target=%22_blank%22" target="_blank"><img src="../assets/img/whatsapplogo.webp" alt="whatsapp" class="footer__img--modificaciones"></a>
			</nav>
		</div>
		<div class="row copyright d-flex justify-content-center">
			Copyright &reg; <script type="text/javascript">document.write(new Date().getFullYear());</script> Developed by Francisco Hellbusch - Todos los derechos reservados.
		</div>
	</footer>
	<!-- CIERRE FOOTER -->
	<!-- SCRIPT BOOTSTRAP -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<!-- SCRIPT AOS -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
  	AOS.init();
	</script></body>
</html>