/* modificaciones del mainMenu */
.mainMenu{
	background:{
		color: $colorMenu;
		image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='418' height='418' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23D09F3A' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2396711C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	}
	font-family: $font;
	padding: 2rem 0px;
	.menu__tittle{
		font-size: 30px;
		color: whitesmoke;
		padding-bottom: 2rem;
	}
	/* seccion de comidas */
	#guarniciones, #carnes, #pastas, #postres, #bebidasYTragos{
		background-image: url(../assets/img/carbon.jpg);
		border: 1px solid white;
		width: 90%;
		margin: 1rem 0px;
	}
	.guarniciones__tittle, .carnes__tittle, .pastas__tittle, .postres__tittle, .bebidasYTragos__tittle{
		font-size: 30px;
		color: ghostwhite;
		border:{
			bottom: 1px solid white;
			right: 1px solid white;
		}
		margin: 0px;
		display: inline;
		padding: 0px 10px;
	}
	.guarniciones__subtittle, .carnes__subtittle, .pastas__subtittle, .postres__subtittle, .bebidasYTragos__subtittle{
		font-size: 25px;
		color: whitesmoke;
		display: inline;
		padding: 0px 1rem;
	}
	/* seccion de guarniciones */
	.guarniciones__variedades1, .guarniciones__variedades2{
		padding: 1rem 0px;
		.guarniciones__item{
			font-size: 23px;
			color: white;
		}
	}
	.guarniciones__img--modificaciones{
		width: 50%;
		border: 2px solid brown;
		margin-bottom: 1rem;
	}

	/* seccion de carnes */
	.carnes__variedades{
		padding: 1rem 0px;
		.carnes__item{
			font-size: 23px;
			color: white;
		}
	}
	.carnes__img1--modificaciones{
		width: 50%;
		border: 2px solid brown;
		margin:{
			top: 1rem;
			bottom: 3rem;
			right: 8rem;
		}
	}
	.carnes__img2--modificaciones{
		width: 50%;
		border: 2px solid brown;
		margin:{
			top: 1rem;
			bottom: 1rem;
			left: 8rem;
		}
	}
	/* seccion de pastas */
	.pastas__variedades{
		padding: 1rem 0px;
		.pastas__item{
			font-size: 25px;
			color: white;
		}
	}
	.pastas__img1--modificaciones{
		width: 60%;
		border: 2px solid brown;
		margin: 1rem 0px;
	}
	.pastas__img2--modificaciones{
		width: 60%;
		border: 2px solid brown;
		margin:{
			top:1rem; 
			bottom: 1rem;
			right: 3rem;
		}
	}
	.pastas__img3--modificaciones{
		width: 60%;
		height: 50%;
		border: 2px solid brown;
		margin:{
			top:4rem ;
			bottom: 1rem;
			left: 1rem;
		}
	}
	/* seccion de postres */
	.postres__variedades{
		padding: 1rem 0px;
		.postres__item{
			font-size: 25px;
			color: white;
		}
	}
	.postres__img--modificaciones{
		width: 70%;
		border: 2px solid brown;
		margin: 1rem 0px;
	}
	/* seccion de bebidas y tragos */
	.bebidasYTragos__sinAlcohol, .bebidasYTragos__conAlcohol{
		font-size: 30px;
		color: sandybrown;
		padding: 1rem 0px;
	}
	.sinAlcohol__variedades{
		.sinAlcohol__item{
			font-size: 25px;
			color: white;
		}
	}
	.conAlcohol__variedades{
		padding: 1rem 0px;
		.bebidasYTragos__conAlcohol{
			font-size: 30px;
			color: sandybrown;
		}
	}
	.conAlcohol__item{
		font-size: 25px;
		color: white;
	}
	.bebidasYTragos__img--modificaciones{
		width: 40%;
		border: 2px solid brown;
		margin-bottom: 1rem;
	}
}