.index{
	font-family: $font;
	overflow-x: hidden;
	.mainIndex{
		background:{
			color: $colorIndex;
			image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d38232' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
		}
		/* modificaciones de la seccion de presentacion */
		.presentacion{
			padding-top: 5rem;
			.presentacion__texto{
				font-size: 25px;
			}
		}
		/* modificaciones de la seccion de infoDeLocal */
		.infoDeLocal{
			padding:{
				top: 7rem;
				bottom: 3rem;
			}
			.infoDeLocal__tittle{
				font-size: 45px;
				color: black;
			}
			.infoDeLocal__ubicacion{
				padding-top: 5rem;
			}
			.infoDeLocal__video{
				width: 800px;
				height: 450px;
			}
		}
	}
}