body{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* modificaciones del main index */
.index{
	.mainIndex{
		font-family: $font;
		background:{
			color: $colorIndex;
			image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d38232' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
		}
		/* seccion de presentacion */
		.presentacion{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-content: center;
			padding: 5rem;
			.presentacion__img--modificaciones{
				width: 95%;
				height: auto;
				border: 2px solid black;
				border-radius: 5px;
			}
			.presentacion__texto{
				font-size: 25px;
				width: 60%;
				height: 80%;
				color: whitesmoke;
				text-align: justify;
				background-color: brown;
				border: 1px solid black;
				padding: 0px 1rem;
				margin-top: 2rem;
				border-radius: 5px;
			}
		}
		/* seccion info de local */
		.infoDeLocal{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-content: center;
			padding-bottom: 3rem;
			.infoDeLocal__tittle{
				font-size: 45px;
				color: white;
				display: inline;
			}
			.infoDeLocal__ubicacion{
				padding: 5rem 0px 2rem 0px;
				width: 25%;
				height: auto;
			}
			.infoDeLocal__video{
				width: 55%;
				height: 450px;
			}
		}
	}
}