.index{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	grid-template-areas: 
	"header"
	"presentacion"
	"infoDeLocal"
	"footer"
	;
	width: 100%;
	height: 100%;
}
.header{grid-area: header;}
.presentacion{grid-area: presentacion;}
.infoDeLocal{grid-area: infoDeLocal;}
.footer{grid-area: footer;}