@media only screen and (max-width: 768px) {
		// modificaciones del headerI
		.headerI{
			.tituloDePagina{
				padding: 0px;
				.header__logo{
					width: 75px;
					border: 1px solid black;
				}
				.header__tittle{
					font-size: 25px;
					padding-left: 0px;
				}
			}
		  	.menu{
		  		padding: 0px;
		  		margin: 0px;
		  		border: 0px;
		  		.nav__item-position{
			  		display: flex;
			  		justify-content: center;
			  		padding: 10px 0px;
			  		border-top: 0.5px solid grey;
			  	}
			  	.dropdown{
			  		margin-top: 25px;
			  	}
		  	}
		}
		/* modificaciones del headerII */
		.header{
			.header__logo{
				width: 75px;
				border: 1px solid black;
			}
			.header__tittle{
				font-size: 25px;
				padding:{
					left: 0.5rem;
					top: 1rem;
				}
			}
			.header__nav{
				padding: 0px;
				.navbar{
					background-color: none;
					height: auto;
					margin-top: 0px;
					font-size: 15px;
					padding: 5px;
				}
			}
		}
		// modificaciones del footer I
		.footerI{
			padding: 10px 0px;
			.footer__tittle{
				font-size: 20px;
				padding:{
					left: 10px;
					top: 10px;
				}
			}
			.footer__img--modificaciones{
				width: 40px;
				padding: 0px 0.5rem;
			}
		}
		.copyrightI{
			display: flex;
			justify-content: center;
			background-color: grey;
		}
		/* modificaciones del footerII */
		.footer{
			padding: 10px 0px;
			.footer__tittle{
				font-size: 20px;
				padding:{
					left: 10px;
					top: 10px;
				}
			}
			.footer__img--modificaciones{
				width: 40px;
				margin: 0px 0.5rem;
			}
		}
		// modificaciones del main index
		.index{
			.mainIndex{
				/* seccion de presentacion */
				.presentacion{
					flex-wrap: wrap;
					padding: 1rem;
					justify-content: normal;
					.presentacion__img--modificaciones{
						width: 100%;
					}
					.presentacion__texto{
						font-size: 15px;
						width: 90%;
						margin-top: 1rem;
					}
				}
				/* seccion info de local */
				.infoDeLocal{
					flex-wrap: wrap;
					justify-content: normal;
					padding-bottom: 1rem;
					.infoDeLocal__tittle{
						font-size: 20px;
						padding-left: 1rem;
					}
					.infoDeLocal__ubicacion{
						padding-top: 2rem;
						width: 50%;
						height: auto;
						padding:{
							top: 1rem;
							left: 4rem;
						}
					}
					.infoDeLocal__video{
						width: 90%;
						height: 250px;
						padding:{
							top: 1rem;
							left: 1rem;
						}
					}
				}
			}
		}
		/* modificaciones de la seccion de comienzo */
		.mainNosotros{
			.comienzo{
				padding:{
					top: 1rem;
					bottom: 1.5rem;
				}
				.comienzo__tittle{
					font-size: 25px;
					color: black;
				}
				.comienzo__img{
					.comienzo__img--modificaciones{
						width: 90%;
						border: 1px solid black;
					}
				}
				.comienzo__texto{
					font-size: 13px;
					width: 100%;
					border: 1px double black;
				}
			}
			/* modificaciones de las seccion de personal */
			.personal{
				padding-bottom: 1rem;
				.personal__tittle{
					font-size: 20px;
					color: black;
				}
			}
		}
		// modificaciones del mainNovedades
		.mainNovedades{
			padding-top: 0.5rem;
		/* seccion de nuevos platos */
		.nuevosPlatos{
			.nuevosPlatos__tittle{
				font-size: 25px;
				padding-bottom: 0.5rem;
			}
			.nuevoPlato1{
				.nuevoPlato1-bg{
					background-image: url(../assets/img/bg-nuevosplatos.jpg);
					border: 2px solid black;
				}
			}
			.nuevoPlato2{
				.nuevoPlato2-bg{
					background-image: url(../assets/img/bg-nuevosplatos.jpg);
					border: 2px solid black;
				}
			}
			.nuevoPlato1__img{
				border:{
					right: 0px;
					bottom: 1px solid black;
				}
			}
			.nuevoPlato2__img{
				border:{
					left: 0px;
					top: 1px solid black;
				}	
			}
			.nuevoPlato1__tittle, .nuevoPlato2__tittle{
				font-size: 20px;
			}
			.nuevoPlato1__texto, .nuevoPlato2__texto{
				font-size: 12px;
			}
		}
		/* seccion de ultimos cambios */
		.ultimosCambios{	
			.ultimosCambios__tittle{
				font-size: 20px;
			}
			.carousel{
				border: 1px solid black;
				.carousel-inner{
					width: 100%;
					height: 200px !important;
				}
			}
		}
	}
		// modificaciones del mainMenu
		.mainMenu{
		padding: 1rem 0px;
			.menu__tittle{
				font-size: 20px;
				padding-bottom: 1rem;
			}
			/* seccion de comidas */
			#guarniciones, #carnes, #pastas, #postres, #bebidasYTragos{
				margin: 1rem 0px;
			}
			.guarniciones__tittle, .carnes__tittle, .pastas__tittle, .postres__tittle, .bebidasYTragos__tittle{
				font-size: 20px;
				padding: 0px 5px;
			}
			.guarniciones__subtittle, .carnes__subtittle, .pastas__subtittle, .postres__subtittle, .bebidasYTragos__subtittle{
				font-size: 20px;
			}
			/* seccion de guarniciones */
			#guarniciones{
				.guarniciones__variedades1--modificaciones{
					justify-content: first;
					.guarniciones__variedades1{
						padding:{
							left: 45px;
							bottom: 0px;
						}
						margin-bottom: 0px;
						.guarniciones__item{
							font-size: 15px;
						}
					}
				}
				.guarniciones__variedades2--modificaciones{
					justify-content: first;
					.guarniciones__variedades2{
						padding-left: 30px;
						.guarniciones__item{
							font-size: 15px;
						}
					}
				}
				.guarniciones__img{
					padding-left: 30px;
				}
				.guarniciones__img--modificaciones{
						border: 1px solid brown;
						margin-bottom: 0.5rem;
						width: 100%;
					}
			}
			/* seccion de carnes */
			.carnes__variedades{
				padding: 0.5rem 0px 0.5rem 2rem;
				.carnes__item{
					font-size: 15px;
				}
			}
			.carnes__img1--modificaciones{
				width: 50%;
				border: 1px solid brown;
				margin:{
					top: 1rem;
					bottom: 1rem;
					right: 4rem;
				}
			}
			.carnes__img2--modificaciones{
				width: 60%;
				border: 1px solid brown;
				margin:{
					top: 0.5rem;
					bottom: 1rem;
					left: 2.5rem;
				}
			}
			/* seccion de pastas */
			.pastas__variedades{
				padding: 0.5rem 0px 0.5rem 2rem;
				.pastas__item{
					font-size: 15px;
				}
			}
			.pastas__img1--modificaciones{
				width: 70%;
				border: 1px solid brown;
				margin: 0.5rem 0px;
			}
			.pastas__img2--modificaciones{
				width: 70%;
				border: 1px solid brown;
				margin:{
					top:1rem; 
					bottom: 0.5rem;
					right: 1rem;
				}
			}
			.pastas__img3--modificaciones{
				width: 80%;
				border: 1px solid brown;
				margin:{
					top:3rem ;
					bottom: 0.5rem;
					left: 0px;
				}
			}
			/* seccion de postres */
			.postres__variedades{
				padding: 0.5rem 0px;
				.postres__item{
					font-size: 15px;
				}
			}
			.postres__variedades--position{
				padding-left: 2rem;
			}
			.postres__img--modificaciones{
				width: 100%;
				border: 1px solid brown;
				margin: 0.5rem 0px 0.5rem 1rem;
			}
			/* seccion de bebidas y tragos */
			.bebidasYTragos__sinAlcohol, .bebidasYTragos__conAlcohol{
				font-size: 20px;
				padding: 0.5rem 0px;
			}
			.sinAlcohol__variedades{
				.sinAlcohol__item{
					font-size: 15px;
				}
			}
			.conAlcohol__variedades{
				padding: 0.5rem 0px;
				.conAlcohol__item{
					font-size: 15px;
				}
			}
			.bebidasYTragos__img1--modificaciones{
				width: 90%;
				border: 1px solid brown;
				margin:{
					bottom: 0.5rem;
					right: 1rem;
				}
			}
			.bebidasYTragos__img2--modificaciones{
				width: 90%;
				border: 1px solid brown;
				margin:{
					bottom: 0.5rem;
					left: 1rem;
				}
			}
		}
		// modificaciones del mainContacto
		.mainContacto{
		padding:{
			top: 1rem;
			bottom: 1rem;
		}
		.contacto__tittle{
			font-size: 30px;
		}
		.form{
			.form__name{
				font-size: 20px;
				padding-left: 1rem;
			}
			.form__nombreApellido{
				padding-left: 1rem;
				.form__name--modificaciones, .form__apellido--modificaciones{
					font-size: 15px;
				}
			}
			.form__email{
				padding-left: 1rem;
				font-size: 15px
			}
			.form__textarea{
				font-size: 20px;
				padding-left: 1rem;
			}
			.form__textarea--modificaciones{
				font-size: 15px;
				padding-left: 1rem;
			}
			.form__enviarBorrar{
				padding-left: 1rem;
				.form__enviar, .form__borrar{
					font-size: 15px;
				}
			}
		}
		.contactanos__numero{
			font-size: 17px;
			border: 1px solid black;
			margin-left: 1rem;
		}
		.contactanos{
			padding-top: 2rem;
			.contactanos__tittle--position{
				padding-left: 1rem;
				.contactanos__tittle{
					font-size: 20px;
				}
			}
			.contactanos__texto--position{
				padding-left: 1rem;
				.contactanos__texto{
					font-size: 17px;
					width: 100%;
				}
			}
		}
		.contactanos__comenta{
			padding-left: 1rem;
			.comenta__tittle{
				font-size: 20px;
			}
			.comenta__img{
				width: 50px;
			}
		}
	}
	
}