// colores
$colorHeader: #483208;
$colorNavBar: #EB7E09;
$colorIndex: #F49F4E;
$colorNosotros: #DFAC24;
$colorMenu: #EDA73A;
$colorNovedades: #B9B99D;
$colorContacto: #534618;
// fuente
$font: 'Montserrat', sans-serif;
$fontTittle:'Merriweather', serif;